<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jskgmail.lifesaver">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".beaconreference.BeaconReferenceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="SAFELINE"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jskgmail.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainalertActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.lifesaver.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="MAP" />

        <activity
            android:name=".FrontPage"
            android:label="SAFELINE"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MainintroActivity">
          </activity>
        <activity
            android:name=".beaconreference.MonitoringActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".beaconreference.RangingActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.lifesaver.MainActivity" />
        </activity>
        <activity android:name=".beaconreference.BeaconTransmitterActivity" />
        <activity android:name=".beaconreference.BeaconTransmitterActivity1" />
        <activity
            android:name=".Main22Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <service
            android:name=".MyServicenoti"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>